.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.game-controllers{
  position:fixed;
  display: flex;
  flex-direction: column;
  padding-left: 10vh;
  z-index: 2;
  background-color: grey;
  font-size: 15px;
}
