.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.game-controllers{
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10vh;
  margin-top: 10vh;
  z-index: 2;
  font-size: 15px;
  width: 25vw;
  height: 400px;
}

.spot-to-guess{
  background-color: rgba(54,173,81,0.1);
  height: 20%;
  width: 100%;
  margin-top: 5vh;
  padding-top: 3%;
  border-radius: 5%;
  border: dotted rgba(54,173,81,0.9);
  opacity: 0.9;
}

.messages{
  height: 40%;
  width: 15vw;
  border: dotted rgba(54,173,81,0.9);
  margin-top: 10px;
}

.failure-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}